volumes:
  l1_data:
  l1_bn_data:
  l1_vc_data:
  l2_data:
  safedb_data:
  op_log:

services:
  l1:
    build:
      context: .
      dockerfile: docker/devnet/l1-geth.Dockerfile
    ports:
      - "8545:8545"
      - "8546:8546"
      - "7060:6060"
    volumes:
      - "l1_data:/db"
      - "${PWD}/envs/devnet/config/genesis-l1.json:/genesis.json"
      - "${PWD}/envs/devnet/test-jwt-secret.txt:/config/jwt-secret.txt"
    environment:
      GETH_MINER_RECOMMIT: 100ms

  l1-bn:
    depends_on:
      - l1
    build:
      context: .
      dockerfile: docker/devnet/l1-lighthouse.Dockerfile
    ports:
      - "9000:9000"
      - "5052:5052"
    volumes:
      - "l1_bn_data:/db"
      - "${PWD}/envs/devnet/test-jwt-secret.txt:/config/jwt-secret.txt"
      - "${PWD}/envs/devnet/beacon-data/config.yaml:/genesis/config.yaml"
      - "${PWD}/envs/devnet/beacon-data/deposit_contract_block.txt:/genesis/deposit_contract_block.txt"
      - "${PWD}/envs/devnet/config/genesis-l1.ssz:/genesis/genesis.ssz"
    environment:
      LH_EXECUTION_ENDPOINT: "http://l1:8551"
    entrypoint:
      - "/bin/sh"
      - "/entrypoint-bn.sh"

  l1-vc:
    depends_on:
      - l1
      - l1-bn
    build:
      context: .
      dockerfile: docker/devnet/l1-lighthouse.Dockerfile
    volumes:
      - "l1_vc_data:/db"
      - "${PWD}/envs/devnet/beacon-data/data/keys:/validator_setup/validators"
      - "${PWD}/envs/devnet/beacon-data/data/secrets:/validator_setup/secrets"
      - "${PWD}/envs/devnet/beacon-data/config.yaml:/genesis/config.yaml"
      - "${PWD}/envs/devnet/beacon-data/deposit_contract_block.txt:/genesis/deposit_contract_block.txt"
      - "${PWD}/envs/devnet/config/genesis-l1.ssz:/genesis/genesis.ssz"
    environment:
      LH_BEACON_NODES: "http://l1-bn:5052/"
    entrypoint:
      - "/bin/sh"
      - "/entrypoint-vc.sh"

  l2:
    build:
      context: .
      dockerfile: docker/devnet/l2-geth.Dockerfile
    ports:
      - "9545:8545"
      - "8060:6060"
    volumes:
      - "l2_data:/db"
      - "${PWD}/scripts/devnet/l2-op-geth-entrypoint.sh:/entrypoint.sh"
      - "${PWD}/envs/devnet/config/genesis.json:/genesis.json"
      - "${PWD}/envs/devnet/test-jwt-secret.txt:/config/jwt-secret.txt"
    entrypoint:  # pass the L2 specific flags by overriding the entry-point and adding extra arguments
      - "/bin/sh"
      - "/entrypoint.sh"
    environment:
      GETH_MINER_RECOMMIT: 100ms

  op-node:
    depends_on:
      - l1
      - l1-bn
      - l1-vc
      - l2
    build:
      context: ../
      dockerfile: ops/docker/op-stack-go/Dockerfile
      target: op-node-target
    image: us-docker.pkg.dev/oplabs-tools-artifacts/images/op-node:v1.10.2
    command: >
      op-node
      --l1=ws://l1:8546
      --l1.beacon=http://l1-bn:5052
      --l1.epoch-poll-interval=12s
      --l1.http-poll-interval=6s
      --l2=http://l2:8551
      --l2.jwt-secret=/config/jwt-secret.txt
      --sequencer.enabled
      --sequencer.l1-confs=0
      --verifier.l1-confs=0
      --p2p.sequencer.key=8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba
      --rollup.config=/rollup.json
      --rpc.addr=0.0.0.0
      --rpc.port=8545
      --p2p.listen.ip=0.0.0.0
      --p2p.listen.tcp=9003
      --p2p.listen.udp=9003
      --p2p.scoring.peers=light
      --p2p.ban.peers=true
      --p2p.priv.path=/config/p2p-node-key.txt
      --metrics.enabled
      --metrics.addr=0.0.0.0
      --metrics.port=7300
      --pprof.enabled
      --rpc.enable-admin
      --safedb.path=/db
      --altda.enabled=false
      --altda.da-service=false
    ports:
      - "7545:8545"
      - "9003:9003"
      - "7300:7300"
      - "6060:6060"
    volumes:
      - "safedb_data:/db"
      - "${PWD}/envs/devnet/p2p-sequencer-key.txt:/config/p2p-sequencer-key.txt"
      - "${PWD}/envs/devnet/p2p-node-key.txt:/config/p2p-node-key.txt"
      - "${PWD}/envs/devnet/test-jwt-secret.txt:/config/jwt-secret.txt"
      - "${PWD}/envs/devnet/config/rollup.json:/rollup.json"
      - op_log:/op_log

  op-batcher:
    depends_on:
      - l1
      - l2
      - op-node
    image: us-docker.pkg.dev/oplabs-tools-artifacts/images/op-batcher:v1.10.0
    build:
      context: ..
      target: "op-batcher"
    ports:
      - "6061:6060"
      - "7301:7300"
      - "6545:8545"
    environment:
      OP_BATCHER_L1_ETH_RPC: http://l1:8545
      OP_BATCHER_L2_ETH_RPC: http://l2:8545
      OP_BATCHER_ROLLUP_RPC: http://op-node:8545
      OP_BATCHER_MAX_CHANNEL_DURATION: 2
      OP_BATCHER_SUB_SAFETY_MARGIN: 4 # SWS is 15, ChannelTimeout is 40
      OP_BATCHER_POLL_INTERVAL: 1s
      OP_BATCHER_NUM_CONFIRMATIONS: 1
      OP_BATCHER_MNEMONIC: test test test test test test test test test test test junk
      OP_BATCHER_SEQUENCER_HD_PATH: "m/44'/60'/0'/0/2"
      OP_BATCHER_PPROF_ENABLED: "true"
      OP_BATCHER_METRICS_ENABLED: "true"
      OP_BATCHER_RPC_ENABLE_ADMIN: "true"
      OP_BATCHER_BATCH_TYPE: 1
      OP_BATCHER_ALTDA_ENABLED: "false"
      OP_BATCHER_ALTDA_DA_SERVICE: "false"
      OP_BATCHER_DATA_AVAILABILITY_TYPE: "blobs"